{% extends 'base.html.twig' %}

{% block body %}
    <div class="imageForm">
        {{ form_start(form) }}
        {% if form.vars.data.imagePath %}
            <img src="{{ asset(form.vars.data.officialDestination) }}" alt="">
        {% endif %}
        {{ form_widget(form) }}
        <button type="submit" class="editButton">
            Edit Image Name
        </button>
        {{ form_end(form) }}
        <br/>
        <div class="buttons">
            <a href="{{ path('download_image', {id: form.vars.data.id}) }}">
                <button class="downloadButton">
                    <span> Download image </span>
                </button>
            </a>
        </div>
        <div class="buttons">
            <a href="{{ path('task_edit', {id: task.id}) }}">
                <span class="btnCancel"> Cancel </span>
            </a>
        </div>
    </div>
{% endblock %}