{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% for task in tasks %}
        <h1> {{ task.name }}</h1>
        <h2> {{ task.slug }}</h2>
        <h3> {{ task.dueDate|date('Y-m-d') }}</h3>
        <h3> {{ task.task }}</h3>

        {% endfor %}
        <form action="{{ path('app_form_add') }}" >
            <button class="btn add-task">Add new task</button>
        </form>

    </div>
{% endblock %}