{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
            <h1> To do list </h1>

                {% for task in taskSoon %}
                <div class="reminder">
                    <h2> Reminders: </h2>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                        </tr>
                            <tr>
                            <td> {{ task.title }}</td>
                            <td> {{ task.dueDate|date('Y-m-d') }}</td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            <table class="taskTable">
                <tr>
                    <th> Name </th>
                    <th> Due Date </th>
                    <th> Date Status </th>
                    <th> Status </th>
                    <th> Options </th>
                </tr>
            {% for task in tasks %}
                <tr>
                    <td> {{ task.title }}</td>
                    <td> {{ task.dueDate|date('Y-m-d') }}</td>
                    {% if task.isOutdated  %}
                        <td> Outdated </td>
                    {% else %}
                        <td> Current </td>
                    {% endif %}
                    <td>
                        {% if task.isDone %}
                            <span class="fa fa-check-square" style="color:greenyellow"></span>
                        {% else %}
                            <span class="fa fa-check-square" style="color:red"></span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="options">
                            <a href="{{ path('app_edit_task', { id: task.id }) }}">
                                <span class="fa fa-pencil-alt"></span>
                            </a>
                            <form method="post" action="{{ path('app_delete_task', { id: task.id }) }}"
                               onsubmit="return confirm('{{  'Czy na pewno chcesz usunąć?'|trans }}');">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </table>
            <form class="buttonAdd"action="{{ path('task_add' ) }}" >
                <button class="add-task">Add new task</button>
            </form>
    </div>
{% endblock %}